<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Alata|Archivo|Noto+Sans+SC|Ubuntu&display=swap"
        rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>


    <title>SRM UGV | Dashboard</title>
    <div class="header">
        <h class="head">D A V E</h>
    </div>
</head>

<body>
    <p id="demo"></p>
    <div class="column-layout">
        <div class="left-column">
            <div id="map"></div>
            <br><br>
            <div class="bottom-panel">
                <img id="webcam-stream" style="float:left" width=400>
                <div class="sensor-panel">
                    <div class="sensor_head">Sensor Data</div>
                    <div id="1">
                        <font style="float:left;">Latitude&emsp;&ensp;&ensp;: :</font>
                        <div id="sensor-latitude" style="float:right;padding-left: 80px;"> NULL</div>
                    </div>
                    <div id="2">
                        <font style="float:left;">Longitude &ensp;&ensp;: :</font>
                        <div id="sensor-longitude" style="float:right;padding-left: 80px;"> NULL</div>
                    </div>
                    <div>
                        <font style="float:left;">Satellites &emsp;&ensp;: :</font>
                        <div id="sensor-sats" style="float:right;padding-left: 80px;"> NULL</div>
                    </div>
                    <div>
                        <font style="float:left;">Heading&emsp;&emsp;: :</font>
                        <div id="sensor-heading" style="float:right;padding-left: 80px;"> NULL</div>
                    </div>
                </div>
            </div>
        </div>



        <div class="main-column">
            <form id="dest">
                <h2>Enter Destination:</h2>
                <div id="Lat" style="padding:16px">
                    Latitude
                    <input type="text" id="lat" style="font-size:18px;float:right;">
                </div>

                <div id="Long" style="padding:16px">
                    Longitude
                    <input type="text" id="long" style="font-size:18px;float:right;"><br>
                </div>

                <div id="Velo" style="padding:16px">
                    Enter velocity
                    <input type="text" id="velocity" style="font-size:18px;float:right;">
                </div>
            </form>
            <div class="container-buttons">
                <button id="set-dest-button" style="background-color:#0097A7;" onclick="setDestAndVelocity()">SET
                    DEST</button>
                <button id="start-button" style="background-color:#388E3C;" onclick="switchBot(1)">START</button>
                <button id="stop-button" style="background-color:#f44336;" onclick="switchBot(0)">STOP</button>
            </div>
        </div>

        <div class="right-column">
            <h2>Saved Destinations </h2>
            <select id="end" style="margin-left:10px;width:55%" onchange="selectLocation()">
            </select>
            <div class="add-location-panel">
                <div>
                    <h2 style="float:left">Add Location</h2>
                    <button id="current-location" onclick="pasteCurrentLocation()"><img
                            src="/static/current-location.png" height=20px></button>
                </div>
                <form id="new-location">
                    <input type="text" id="new-loc-lat" placeholder="Latitude">
                    <input type="text" id="new-loc-lng" placeholder="Longitude">
                    <input type="text" id="new-loc-pname" placeholder="Pretty Name">
                    <input type="text" id="new-loc-desc" placeholder="Description">
                    <select id="new-loc-type">
                        <option value="WAYPOINT">Waypoint</option>
                        <option value="JUNCTION">Junction</option>
                        <option value="DESTINATION">Destination</option>
                    </select>
                </form>
                <button style="margin-left:20%; margin-top:5%; background-color:#00796B" onclick="addNewLocation()">ADD
                    </buttosn>
            </div>
        </div>

    </div>


    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDob0co6AQ49m2zvadKD6vYOoQqgX2XmEs&callback=initMap">
        </script>


</body>

</html>