<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='main.js') }}"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Cousine&display=swap"
      rel="stylesheet"
    />
    <title>SRM UGV | Dashboard</title>
  </head>
  <body>
    <div class="container">
      <h1>Client Side</h1>
    </div>
  </body>
</html>
